.photo__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media (max-width: 1024px) {
  .photo__grid {
      grid-gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo__grid {
      max-width: 720px;
      grid-gap: 16px;
  }
}

@media (max-width: 540px) {
  .photo__grid {
      grid-gap: 12px;
  }
}