.header__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: flex-end;
  padding-bottom: 6px;
}

@media (max-width: 540px) {
  .header__links {
    padding-bottom: 8px;
  }
}