.content__section {
  margin-bottom: 92px;
}

@media (max-width: 768px) {
    .content__section {
        margin-bottom: 88px;
    }
}

@media (max-width: 540px) {
  .content__section {
      margin-bottom: 64px;
  }
}